.gradle/
.idea/
build/
src/main/python/env/
src/main/python/SPOILER_spoiler-glouton.txt
src/main/python/jobshop/*/__pycache__/*
src/main/python/jobshop/__pycache__/
src/main/python/*/__pycache__/
src/main/python/jobshop/__pycache__/
sujet/
src/main/java/
